<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Add Category</title>
  </head>
  <body>
    <div class="container mx-auto font-mono">
      <div class="grid grid-cols-8 my-9">
        <div class="col-start-3 col-span-4 border-2">
          <form
            action="#"
            th:action="@{/admin/categories/add}"
            method="post"
            th:object="${category}"
          >
            <div class="p-9">
              <input type="hidden" th:field="*{id}" />
              <div class="mt-9 grid grid-cols-2">
                <label for="name" class="text-xl">Name:</label>
                <input
                  type="text"
                  required
                  th:field="*{name}"
                  name="name"
                  class="pt-1 px-2 border-2 rounded-md text-[19px]"
                />
              </div>
              <div class="my-9 grid grid-cols-2">
                <label for="description" class="text-xl">description:</label>
                <textarea
                  type="text"
                  required
                  th:field="*{description}"
                  name="description"
                  class="px-3 py-1 h-32 border-2 rounded-md text-[19px]"
                />
              </div>

              <div class="my-9">
                <button
                  type="submit"
                  class="p-2 w-28 rounded-full border-2 border-slate-900 bg-slate-900 text-white font-bold text-xl transition ease-in-out duration-300 hover:bg-white hover:text-black"
                >
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
