<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav>
      <div class="grid grid-cols-4">
        <!-- Name of the Business or Logo -->
        <h1 class="">HomeBakery</h1>

        <!-- NavBar Links -->
        <div>
          <a th:href="@{/shop}">SHOP</a>
          <a th:href="@{/about}">ABOUT</a>
          <a th:href="@{/contact}">CONTACT</a>
          <a>GET STARTED</a>
          <a>LOG IN</a>
        </div>
      </div>
    </nav>
  </body>
</html>
